# Numpy Basic Exercise

In [1]:
import numpy as np

**EXERCISE 1 - Element-wise addition of 2 numpy arrays
Given are 2 similar dimensional numpy arrays, how to get a numpy array output in which every element is an element-wise sum of the 2 numpy arrays?**

In [2]:
arr1=np.array([[1,2,3],[4,5,6]])

In [3]:
arr2=np.array([[2,3,1],[4,5,2]])

In [4]:
arr3=arr1 + arr2

In [5]:
arr3

array([[ 3,  5,  4],
       [ 8, 10,  8]])

**EXERCISE 2 - Multiplying a matrix (numpy array) by a scalar
Given a numpy array (matrix), how to get a numpy array output which is equal to the original matrix multiplied by a scalar?**

In [6]:
init_array=np.array([[1,2,3],[4,5,6]])

In [7]:
result=init_array * 2 #multiplying by 2 since it is a scalar number

In [8]:
result

array([[ 2,  4,  6],
       [ 8, 10, 12]])

**EXERCISE 3 - Identity Matrix
Create an identity matrix of dimension 4-by-4**

In [9]:
i=np.eye(4)

In [10]:
i #eye(numbersize to make identity matrix)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

**EXERCISE 4 - Array re-dimensioning
Convert a 1-D array to a 3-D array**

In [11]:
new_arr=np.arange(99)

In [12]:
new_arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98])

In [13]:
new_arr.reshape(3,33)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
        32],
       [33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
        49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64,
        65],
       [66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81,
        82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97,
        98]])

**EXERCISE 5 - Array datatype conversion
Convert all the elements of a numpy array from float to integer datatype**

In [14]:
test_arr=np.array([[2.0,4.2,5.3],[5.6,8.5,65.4]])

In [15]:
o=test_arr.astype('int')

In [16]:
o

array([[ 2,  4,  5],
       [ 5,  8, 65]])

**EXERCISE 6 - Obtaining Boolean Array from Binary Array
Convert a binary numpy array (containing only 0s and 1s) to a boolean numpy array**

In [17]:
test_arr

array([[ 2. ,  4.2,  5.3],
       [ 5.6,  8.5, 65.4]])

In [18]:
p=test_arr.astype('bool')

In [19]:
p

array([[ True,  True,  True],
       [ True,  True,  True]])

**EXERCISE 7 - Horizontal Stacking of Numpy Arrays
Stack 2 numpy arrays horizontally i.e., 2 arrays having the same 1st dimension (number of rows in 2D arrays)**

In [20]:
arr1

array([[1, 2, 3],
       [4, 5, 6]])

In [21]:
arr2

array([[2, 3, 1],
       [4, 5, 2]])

In [22]:
q=np.hstack((arr1,arr2))

In [23]:
q

array([[1, 2, 3, 2, 3, 1],
       [4, 5, 6, 4, 5, 2]])

**EXERCISE 8 - Vertically Stacking of Numpy Arrays
Stack 2 numpy arrays vertically i.e., 2 arrays having the same last dimension (number of columns in 2D arrays)**

In [24]:
arr1

array([[1, 2, 3],
       [4, 5, 6]])

In [25]:
arr2

array([[2, 3, 1],
       [4, 5, 2]])

In [26]:
r=np.vstack((arr1,arr2))

In [27]:
r

array([[1, 2, 3],
       [4, 5, 6],
       [2, 3, 1],
       [4, 5, 2]])

**EXERCISE 9 - Custom Sequence Generation
Generate a sequence of numbers in the form of a numpy array from 0 to 100 with gaps of 2 numbers, for example: 0, 2, 4 ....**

In [28]:
np.arange(0,99,2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32,
       34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66,
       68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98])

**EXERCISE 10 - Getting the positions (indexes) where elements of 2 numpy arrays match
From 2 numpy arrays, extract the indexes in which the elements in the 2 arrays match**

In [29]:
arr1

array([[1, 2, 3],
       [4, 5, 6]])

In [30]:
arr2

array([[2, 3, 1],
       [4, 5, 2]])

In [31]:
s=np.where(arr1==arr2)

In [32]:
s

(array([1, 1], dtype=int64), array([0, 1], dtype=int64))

**EXERCISE 11 - Generation of given count of equally spaced numbers within a specified range
Output a sequence of equally gapped 5 numbers in the range 0 to 100 (both inclusive)**

In [33]:
t=np.linspace(0,100,5)

In [34]:
t

array([  0.,  25.,  50.,  75., 100.])

**EXERCISE 12 - Matrix Generation with one particular value
Output a matrix (numpy array) of dimension 2-by-3 with each and every value equal to 5**

In [35]:
q=np.full((2,3),5)

In [36]:
q

array([[5, 5, 5],
       [5, 5, 5]])

**EXERCISE 13 - Array Generation by repeatition of a small array across each dimension
Output an array by repeating a smaller array of 2 dimensions, 10 times**

In [37]:
arr1

array([[1, 2, 3],
       [4, 5, 6]])

In [38]:
q=np.tile(arr1,10)

In [39]:
q

array([[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1,
        2, 3, 1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4,
        5, 6, 4, 5, 6, 4, 5, 6]])

**EXERCISE 14 - Array Generation of random integers within a specified range
Output a 5-by-5 array of random integers between 0 (inclusive) and 10 (exclusive)**

In [40]:
np.random.seed(123) #seed setting

In [41]:
u=np.random.randint(0,10,size=(5,5))

In [42]:
u

array([[2, 2, 6, 1, 3],
       [9, 6, 1, 0, 1],
       [9, 0, 0, 9, 3],
       [4, 0, 0, 4, 1],
       [7, 3, 2, 4, 7]])

**EXERCISE 15 - Array Generation of random numbers following normal distribution
Output a 3-by-3 array of random numbers following normal distribution**

In [43]:
np.random.seed(123) #seed setting

In [44]:
r=np.random.normal(size=(3,3))

In [45]:
r

array([[-1.0856306 ,  0.99734545,  0.2829785 ],
       [-1.50629471, -0.57860025,  1.65143654],
       [-2.42667924, -0.42891263,  1.26593626]])

**EXERCISE 16 - Matrix Multiplication
Given 2 numpy arrays as matrices, output the result of multiplying the 2 matrices (as a numpy array)**

In [46]:
arr1

array([[1, 2, 3],
       [4, 5, 6]])

In [47]:
arr2

array([[2, 3, 1],
       [4, 5, 2]])

In [48]:
multiplication=arr1 * arr2

In [49]:
multiplication

array([[ 2,  6,  3],
       [16, 25, 12]])

**EXERCISE 17 - Matrix Transpose
Output the transpose of a matrix (as numpy array)**

In [50]:
arr1

array([[1, 2, 3],
       [4, 5, 6]])

In [51]:
arr1.T

array([[1, 4],
       [2, 5],
       [3, 6]])

**EXERCISE 18 - Sine of an Angle (in radians)
Calculate the sine of an array of angles (in radians) using NumPy**

In [52]:
angles=np.array([2.34,5.23,6.23])

In [53]:
sine_of_an_Angle=np.sin(angles)

In [54]:
sine_of_an_Angle

array([ 0.71846479, -0.86900374, -0.05316024])

**EXERCISE 19 - Cosine Similarity
Calculate the cosine similarity of 2 vectors (as numpy arrays)**

In [55]:
angles

array([2.34, 5.23, 6.23])

In [56]:
cose_of_an_Angle=np.cos(angles)

In [57]:
cose_of_an_Angle

array([-0.69556333,  0.49480552,  0.99858599])

**EXERCISE 20 - Generating the array element indexes such that the array elements appear in ascending order
Output the array element indexes such that the array elements appear in the ascending order**

In [58]:
x=np.array([1,2,3,4,5,7,6,86,9])

In [59]:
x.argsort()

array([0, 1, 2, 3, 4, 6, 5, 8, 7], dtype=int64)